<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset ="UTF-8">
    <title >admin_buyer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/journal/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
</head>
<body>
    <div class="col-12">
        <h1 class = "title col-12" > Administrar comprador</h1>
    </div>

    <div class="col-12">
        <h1 class = "title col-3" style="font-size: 30px;" > Datos del comprador:</h1>
    </div>

    <div class= "col-12" id= "all_suppliers">
        <table class="table text-center " >
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password </th>
                    <th scope="col">Provinica </th>
                    <th scope="col">Sexo </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>

                </tr>

            </thead>
            <tbody style="color:white">
                <tr>
                    <th scope="row">{{obj_user.name}}</th>
                    <td>{{obj_user.surnames}}</td>
                    <td>{{obj_user.phone}}</td>
                    <td>{{obj_user.email}}</td>
                    <td>{{obj_user.password}}</td>                  
                    <td>{{obj_user.province}}</td>
                    <td>{{obj_user.sex}}</td>
                    <td>
                        <form action="/modify_seller/{{obj_user.id}}/{{admin_id}}", method="POST">
                            <button type="submit" class="btn btn btn-success btn-sm button_ver_modificar " > Modificar</button>
                        </form>
                    </td>
                    <td>
                        <form action = "/delete_user/{{obj_user.id}}/{{admin_id}}" method="post">
                                <button type="submit" class="btn btn-info btn-sm " style="float: right color ; background-color: red; border-color: red;" >Eliminar usuario</button>
                        </form>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</body>
